@using System.Security.Claims
@{
    var user = Context.User;
    var path = Context.Request.Path.ToString().ToLower();
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link href="/templateContent/css/bootstrap-icons.css" rel="stylesheet">

    <link href="/templateContent/css/templatemo-topic-listing.css" rel="stylesheet">
    <style>
        .my-bg {
            background: rgb(17,208,158);
            background: linear-gradient(180deg, rgba(17,208,158,1) 0%, rgba(9,103,121,1) 41%, rgba(250,250,250,1) 100%);
        }

        .vertical-line {
            height: 100%; /* Dikey çizginin sol sütun yüksekliği kadar uzanmasını sağlar */
            border-left: 1px solid #ccc; /* Dikey çizgiyi çizmek için kullanılan stil */
            margin: 0; /* Kenar boşluğunu sıfırlar */
        }
    </style>
</head>
<body id="top">

    <main>

        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <i class="bi-back"></i>
                    <span>AgiLearn</span>
                </a>

                <div class="d-lg-none ms-auto me-4">
                    @if (user.HasClaim(a => a.Type == ClaimTypes.Role))
                    {

                        <h6>@user.Claims(ClaimTypes.Role)[0] , @user.Claims("username")[0] </h6>
                    }
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-5 me-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Courses" asp-action="Index">Browse Courses</a>
                        </li>

                        @if (!user.HasClaim(a => a.Type == ClaimTypes.Role))
                        {
                            <li class="nav-item d-lg-none">
                                <a asp-controller="Auth" asp-action="Login" class="nav-link">Sign In<span class="visually-hidden">(current)</span></a>
                            </li>
                            <li class="nav-item d-lg-none">
                                <a asp-controller="Auth" asp-action="Register" class="nav-item nav-link">Join For Free<span class="visually-hidden">(current)</span></a>
                            </li>
                        }
                        else
                        {
                            @if (user.Claims(ClaimTypes.Role)[0] == "Admin")
                            {
                                <li class="nav-item d-lg-none"><a class="nav-item nav-link" asp-controller="Admin" asp-action="Index">Admin Panel</a></li>
                            }
                            @if (user.Claims(ClaimTypes.Role)[0] == "Instructor")
                            {
                                <li class="nav-item d-lg-none"><a class="nav-item nav-link" asp-controller="Instructor" asp-action="Index">Instructor Panel</a></li>
                            }
                            <li class="nav-item d-lg-none"><a class="nav-item nav-link" asp-controller="Courses" asp-action="MyCourses">My Courses</a></li>
                            <li class="nav-item d-lg-none"><a class="nav-item nav-link" asp-controller="Auth" asp-action="Logout">Logout</a></li>
                        }
                    </ul>

                    <div class="d-none d-lg-block">
                        @if (user.HasClaim(a => a.Type == ClaimTypes.Role))
                        {
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <button class="btn" id="navbarUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="navbar-icon bi-person smoothscroll"></span>
                                    </button>

                                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarUser">
                                        <li><h6 class="dropdown-header">@user.Claims(ClaimTypes.Role)[0] , @user.Claims("username")[0] </h6></li>
                                        <li><hr class="dropdown-divider"></li>
                                        @if (user.Claims(ClaimTypes.Role)[0] == "Admin")
                                        {
                                            <li><a class="dropdown-item" asp-controller="Admin" asp-action="Index">Admin Panel</a></li>
                                        }
                                        @if (user.Claims(ClaimTypes.Role)[0] == "Instructor")
                                        {
                                            <li><a class="dropdown-item" asp-controller="Instructor" asp-action="Index">Instructor Panel</a></li>
                                        }
                                        <li><a class="dropdown-item" asp-controller="Courses" asp-action="MyCourses">My Courses</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" asp-controller="Auth" asp-action="Logout">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a asp-controller="Auth" asp-action="Login" class="nav-link">Sign In<span class="visually-hidden">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Auth" asp-action="Register" class="nav-item nav-link">Join For Free<span class="visually-hidden">(current)</span></a>
                                </li>
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </nav>
        <section class="section-padding my-bg" id="section_1" style="min-height:70%;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 col-lg-2 border-end border-2">
                        <ul class="nav nav-pills flex-column mb-auto">
                            <li class="nav-item cursor-pointer"><a class="nav-link @(path == "/admin" ? "active" : "")" asp-controller="Admin" asp-action="Index">Admin Dashboard</a></li>

                            <li class="nav-item cursor-pointer"><a class="nav-link @(path == "/admin/usermanager" ? "active" : "")" asp-controller="Admin" asp-action="UserManager">UserManager</a></li>

                            <li class="nav-item cursor-pointer"><a class="nav-link @(path == "/admin/create" ? "active" : "")" asp-controller="Admin" asp-action="Create">Create Course</a></li>

                        </ul>
                        <hr class=" vertical-line">
                    </div>
                    <div class="col-md-10 col-lg-10">
                        @RenderBody()
                    </div>
                </div>
            </div>
            
        </section>


    </main>
    <footer class="site-footer section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-12 mb-4 pb-2">
                    <a class="navbar-brand mb-2" asp-controller="Home" asp-action="Index">
                        <i class="bi-back"></i>
                        <span>AgiLearn</span>
                    </a>
                </div>

                <div class="col-lg-3 col-md-4 col-6">
                    <h6 class="site-footer-title mb-3">Resources</h6>

                    <ul class="site-footer-links">
                        <li class="site-footer-link-item">
                            <a href="/Home/" class="site-footer-link">Home</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="/Home/#section_3" class="site-footer-link">How it works</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="/Home/#section_4" class="site-footer-link">About Us</a>
                        </li>

                        <li class="site-footer-link-item">
                            <a href="/Home/#section_5" class="site-footer-link">Contact</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                    <h6 class="site-footer-title mb-3">Information</h6>

                    <p class="text-white d-flex mb-1">
                        <a href="tel: 305-240-9671" class="site-footer-link">
                            305-240-9671
                        </a>
                    </p>

                    <p class="text-white d-flex">
                        <a href="mailto:info@company.com" class="site-footer-link">
                            info@company.com
                        </a>
                    </p>
                </div>

                <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                    <div class="dropdown">

                    </div>

                    <p class="copyright-text mt-lg-5 mt-4">
                        Copyright © @DateTime.Now.Year AgiLearn Center. All rights reserved.
                        <br><br>Design: <a rel="nofollow" href="https://templatemo.com" target="_blank">TemplateMo</a> Distribution <a href="https://themewagon.com">ThemeWagon</a>
                    </p>

                </div>

            </div>
        </div>
    </footer>

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/templateContent/js/jquery.sticky.js"></script>
    <script src="/templateContent/js/click-scroll.js"></script>
    <script src="/templateContent/js/custom.js"></script>
    <script src="/js/search.js"></script>
</body>
</html>