@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"]="Courses";
    var category = (int?)ViewData["categoryFilter"] ?? -1;
}
@model IEnumerable<CourseWithAllDetails>
<style>
    .custom-form #search {
        background: var(--custom-btn-bg-color);
        border: none;
        border-radius: var(--border-radius-large);
        color: var(--white-color);
        font-family: var(--title-font-family);
        font-size: var(--p-font-size);
        font-weight: var(--font-weight-semibold);
        transition: all 0.3s;
        margin-bottom: 0;
    }

        .custom-form #search:hover,
        .custom-form #search:focus {
            background: var(--custom-btn-bg-hover-color);
            border-color: transparent;
        }
    #search {
        background-color: var(--primary-color);
        border: 0;
        border-radius: var(--border-radius-large) !important;
        color: var(--white-color);
        max-width: 150px;
    }
</style>

    <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-12 mx-auto">
                    <h1 class="text-white text-center">Discover. Learn. Enjoy</h1>

                    <h6 class="text-center">platform for creatives around the world</h6>

                    <div class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search">
                        <div class="input-group input-group-lg">
                            <span class="input-group-text bi-search" id="basic-addon1">

                            </span>

                            <input name="nameFilter" type="search" class="form-control" id="nameFilter" placeholder="How To Code, Marketing 101, Finance ..." aria-label="Search" value="@ViewData["nameFilter"]">

                            <a href="/Courses" id="search" class="btn form-control">Search</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

<section class="section-padding">
    <div class="album py-5 bg-light">
        <div class="container">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item @(category==1?"active":"")"><a asp-action="Index" asp-route-nameFilter="@(ViewData["nameFilter"]??"")" asp-route-categoryFilter="1">Development</a></li>
                <li class="list-group-item @(category==2?"active":"")"><a asp-action="Index" asp-route-nameFilter="@(ViewData["nameFilter"]??"")" asp-route-categoryFilter="2">Deneme</a></li>
                <li class="list-group-item @(category==3?"active":"")"><a asp-action="Index" asp-route-nameFilter="@(ViewData["nameFilter"]??"")" asp-route-categoryFilter="3">Deneme 3</a></li>
            </ul>
            @*<input type="search" placeholder="Search" aria-label="Search" id="nameFilter" value="@ViewData["nameFilter"]">
            <a href="/Courses" id="search" class="btn btn-outline-success my-2 my-sm-0">Search</a>*@
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="@item.ImageUrl" width="100%" height="225" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">@item.Title</p>
                                <p class="card-text">@item.Description</p>
                                <p class="card-text">@item.EnrollmentCount People Take This Course</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a type="btn btn-success" asp-controller="Course" asp-action="@item.ID"
                                           class="btn btn-sm btn-outline-info">View</a>
                                        <a asp-controller="Course" asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-outline-secondary">Edit</a>
                                        @if (Context.User.HasClaim(a => true))
                                        {
                                            var role = Context.User.Claims(ClaimTypes.Role)[0];
                                            if (role == "Student")
                                            {
                                                <form asp-controller="Enrollments" asp-action="Enroll" method="POST" asp-route-courseId="@item.ID">
                                                    <button type="submit" class="btn btn-sm btn-success">Enroll</button>
                                                </form>
                                            }
                                            else if (role == "Admin")
                                            {
                                                <form asp-controller="Courses" asp-action="DeleteCourse" method="POST" asp-route-courseId="@item.ID">
                                                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                                </form>
                                            }
                                        }
                                    </div>
                                    <small class="text-muted">@item.Category</small>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>

