@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"]="Courses";
}
@model IEnumerable<Course>

<div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
                @foreach(var item in Model)
                {
                <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src ="@item.ImageUrl" width="100%" height="225" alt="Card image cap">
                    <div class="card-body">
                    <p class="card-text">@item.Title</p>
                     <p class="card-text">@item.Description</p>
                     <p class="card-text">@item.EnrollmentCount People Take This Course</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                        <a type="btn btn-success" asp-controller="Course" asp-action="@item.ID" 
                            class="btn btn-sm btn-outline-info">View</a>
                        <a asp-controller="Course" asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-outline-secondary">Edit</a>
                        @if(Context.User.HasClaim(a=>true)){
                            var role=Context.User.Claims(ClaimTypes.Role)[0];
                            if(role=="Student"){
                                <form asp-controller="Enrollments" asp-action="Enroll" method="POST" asp-route-courseId="@item.ID">
                                    <button type="submit" class="btn btn-sm btn-success">Enroll</button>
                                </form>
                            }
                            else if(role=="Admin"){
                                <form asp-controller="Courses" asp-action="DeleteCourse" method="POST" asp-route-courseId="@item.ID">
                                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            }
                        }
                        </div>
                        <small class="text-muted">@item.Category</small>
                    </div>
                    </div>
                </div>
                </div>
                }
         
          </div>
        </div>
      </div>

