@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var user = Context.User;
}
@model IEnumerable<CourseWithAllDetails>
<style>
    .custom-block-image {
        display: block;
        width: 100%;
        height: 250px;
        object-fit: fill;
        margin-top: 35px;
    }
    .min-height{
        min-height:60%;
        min-height:60vh;
    }
    .max-height-p{
        max-height:60px;
    }
    .my-bg {
        background: rgb(17,208,158);
        background: linear-gradient(180deg, rgba(17,208,158,1) 0%, rgba(9,103,121,1) 41%, rgba(250,250,250,1) 100%);
    }
</style>

<section class="section-padding my-bg mb-3 min-height" id="section_1">
    <div class="container">
        <div class="row">
            @foreach (var course in Model)
            {
                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-4">
                    <div class="custom-block bg-white shadow-lg">
                        <a asp-controller="Course" asp-action="@course.ID">
                            <div class="d-flex">
                                <div>
                                    <h5 class="mb-2">@course.Title</h5>
                                    <i>by @course.Username</i>
                                    <p class="mb-0 text-wrap overflow-hidden max-height-p">@course.Description</p>
                                </div>

                                <span class="badge bg-design rounded-pill ms-auto" style="background-color:@CourseCategoryClass.Colors[(int)course.Category]">@course.EnrollmentCount</span>
                            </div>

                            <img src="@course.ImageUrl" class="custom-block-image img-fluid" alt="">
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>

</section>

@*<div class="container">

          <div class="row">
                @foreach(var item in Model)
                {
                <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src ="@item.ImageUrl" width="100%" height="225" alt="Card image cap">
                    <div class="card-body">
                    <p class="card-text">@item.Title</p>
                     <p class="card-text">@item.Description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            @if (user.Claims(ClaimTypes.Role)[0] == "Student")
                            {
                                <form asp-controller="Enrollments" asp-action="Disenroll" asp-route-courseId="@item.ID" method="POST">
                                    <button type="submit" class="btn btn-sm btn-danger">Disenroll</button>
                                </form>
                            }
                            else
                            {
                                <form asp-controller="Courses" asp-action="DeleteCourse" asp-route-courseId="@item.ID" method="POST">
                                    <button type="submit" class="btn btn-sm btn-danger">Delete Course</button>
                                </form>
                            }

                        </div>
                        <small class="text-muted">@item.Category</small>
                    </div>
                    </div>
                </div>
                </div>
                }
         
          </div>
        </div>*@
